* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    font-weight: 700;
    color: white;
    
    
}



/* Regular */
@font-face {
    font-family: 'Gilroy';
    src: url('./Fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  /* Regular */
@font-face {
    font-family: 'PPMori';
    src: url('./Fonts/PPMori-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

/* Medium */
@font-face {
    font-family: 'Gilroy';
    src: url('./Fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

/* SemiBold */
@font-face {
    font-family: 'Gilroy';
    src: url('./Fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  /* SemiBold */
@font-face {
    font-family: 'PPMori';
    src: url('./Fonts/PPMori-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }

  /* Bold */
@font-face {
    font-family: 'Gilroy';
    src: url('./Fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  /* ExtraBold */
  @font-face {
    font-family: 'Gilroy';
    src: url('./Fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }



html, body{
    height: 100%;
    width: 100%;
}

.teal{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: rgb(3, 155, 155);
    z-index: 100;
    opacity: 0;
    display: none;
    transition: opacity ease 15s;


}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color:rgb(3, 155, 155);
    z-index: 8;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
    mix-blend-mode: difference;

}

.main{
    background-color: #0F0D0D;
    cursor: none;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;

}



.nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
    /* cursor: none; */
    
}

.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}
.nav h4{
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    
}

.nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1 h1,
.page1 h2 {
    margin: 0; /* Reset all margins */
}

 .page1 h1{
    font-size: 8vw;
    font-family: PPMori;
    font-weight: 400;

    margin-left: 6vw;
}

.page1 h2{
    font-size: 8vw;
    font-family: PPMori;
    font-weight: 400;
    margin-left: 26vw;
}

.page1 h1, .page1 h2{
    line-height: 1.1; /* Adjust as needed */
}

.page1 video{
    width: 80%;
    position: relative;
    left: 50%;
    margin-top: 10vw;
    transform: translate(-50%, 0);
}

.page1 p{
    position: relative;
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #111;
    position: relative;
    z-index: 9;

}

.page2 h1{
    font-size: 7vw;
    font-weight: 500;
    color: #111;

}


.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw ; */
    
}

.page2-left{
/* background-color: blue; */
width: 38%;
}

.page2-right{
    /* background-color: blue; */
    width: 24%;
    }

.page2-left h2{
    font-size: 4vw;
    font-weight: 400;
    color: #111;
    line-height: 4vw;

}

.page2-right p{
    font-size: 22px;
    font-weight: 500;
    color: #111;

}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color:rgb(3, 155, 155);
    color: #111;
    margin-top: 20px;


}

.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 80px;
    z-index: 9;
    border-bottom: 2px solid #fff;
    padding-bottom: 80px;
}


.page3 h1{
    font-size: 6.8vw;
    font-weight: 400;
    color: #111;
    margin-left: 100px;
}

.page3-part-1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.page3-part-1 img{
    height: 600px;
    margin-top: 160px;
    margin-left: 100px;
}

.page3-part-1-img figcaption {
    margin-left: 100px;
    padding-top: 20px;
    font-size: larger;
    color: #000;
}

.page3-part-1 video{
    height: 400px;
    width: 700px;
    margin-right: 5vw;
    margin-top: 50px;

}
.page3-part-1-video figcaption {
    margin-right: 5vw;
    padding-top: 20px;
    font-size: larger;
    color: #000;
}

.page3-part-2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 80px;

}

.page3-part-2 img{
    height: 600px;
    margin-right: 5vw;
}

.page3-part-2-img figcaption {
    margin-right: 5vw;
    padding-top: 20px;
    font-size: larger;
}

.page3-part-2 video{
    height: 400px;
    width: 700px;
    margin-left: 100px;
    margin-top: 160px;
}

.page3-part-2-video figcaption{
    margin-left: 100px;
    padding-top: 20px;
    font-size: larger;
}

.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
    border-bottom: 2px solid #fff;
}

.page4 h5{
    font-size: 0.8vw;
    margin-left: 659px;
}
.page4 p{
    font-size: 0.8vw;
    width: 200px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.design-div{
    margin-bottom: 20px;
}

.elem{
    /* background-color: salmon; */
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-div{
    /* background-color: lightblue; */
    height: 160px;
    overflow: hidden;
}


.elem h1{
    font-size: 7vw;
    font-weight: 600;
    line-height: 1.3;
    transition: all ease-out 0.5s;

}

.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(15%) rotate(5deg);


}

.elem img:nth-child(1){
    left: -1.5%;
}

.elem img:nth-child(3){
    right: 5%;
}

.elem:hover h1{
transform: translateY(-100%);
color:rgb(3, 155, 155);
}

.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 120px 100px;
    margin-bottom: 140px;
}

.page5 h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}

.highlight{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 400;
    color:rgb(3, 155, 155);
}

.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 20px;
    border-top: 2px solid #dadada;

}



.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}


.text-div-2{
    display: flex;
    gap: 150px;
}



footer {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 120px 100px;
    margin-bottom: 140px;
    background-color: rgb(3, 155, 155);
}
.row-top {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 100px 0px;
    border-bottom: #000 1px solid;
    /* position: relative; */
}

.row-top h2 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-line {
    font-size: 30px;
}
.outer-line {
    font-size: 27px;
}

.circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: black; 
    border-radius: 50%;
}

.circle-btn .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.circle-btn .btn:hover {
    background-color: #ccc;
    color: #000;
}

.row-bottom {
    padding: 80px 10px 60px 10px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.col {
    width: 300px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}

form input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: transparent ;
}

form button {
    background-color: transparent;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 10px;
}

form button:hover {
    background-color: #444;
}

.email {
    display: block;
    margin-bottom: 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

.email:hover {
    text-decoration: underline;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.info p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 0.3rem;
}

ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #555;
}

.copyright {
    font-size: 0.8rem;
    color: #444;
    text-align: center;
}
